@{
    ViewData["Title"] = "Home Page";
}
<h1 class="display-4">Welcome</h1>
<div class="text-center">


    <button class="btn btn-success">Log In</button>
    <br>
    <a class="">create an account</a>
</div>
